@fa_path: "./less";
@import "@{fa_path}/variables.less";
@fa-font-path: "./fonts";
@import "@{fa_path}/mixins.less";
@import "@{fa_path}/path.less";
@import "@{fa_path}/core.less";
@import "@{fa_path}/icons.less";

body {
    margin: 0;  
    padding: 0;
    font-family: sans-serif;
    color: black;
}
